footer.row.middle-xs.between-xs.center-xs
    div.col-xs-12.col-sm-4.mascota
        img(src="images/mascota.png")
        h4 Cuando los demás duermen, yo me divierto programando. 
    div.col-xs-12.col-sm-4.logo-sia.row.center-xs.around-xs
        div.col-xs-12
            img(src="images/logo-sia.png")
    div.col-xs-12.col-sm-4.frase
        h3 Creo que este es el mejor consejo: piensa constantemente cómo podrías hacer mejor las cosas.
            span "Elon Musk"
    div.col-xs-12.row.center-xs.around-xs
        section.redes_sociales(style="background: transparent;")
            a.linkedin(href="#")
                span.fa.fa-linkedin
            a.facebook(href="#")
                span.fa.fa-facebook
            a.twitter(href="#")
                span.fa.fa-twitter
            a.google(href="#")
                span.fa.fa-google-plus
            a.whatsapp(href="#")
                span.fa.fa-whatsapp
            a.youtube(href="#")
                span.fa.fa-youtube
    div.col-xs-12.end-footer
        a(target="_blank" href="http://siasoftware.com/")
            h5 © 2016 Sia-Software