extends _base

block content

	section.blog
		div.img-parallax(style="background: url(images/parallax.png) center no-repeat;he;background-size: cover;background-attachment: fixed;height: 500px;")
		div.row.top-xs.col-xs-12
			div.title.col-xs-12.row.center-xs.middle-xs
				h2 BLOG
			div.content-blog.row.top-xs.col-xs-12.col-sm-9(style="padding: 0 10px;")
				div.col-xs-12.center-xs
					img.shadow(src="images/shadow.png")
				div.col-xs-12(style="padding: 0;")
					div.card(style="padding: 0;")
						div.card-image
							img(src="images/parallax.png")
							span.card-title DESARROLLO WEB FORNT-END
						div.card-content.row.center-xs
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem saepe molestiae repudiandae, debitis omnis sint laudantium mollitia exercitationem nihil obcaecati esse neque assumenda numquam odit, suscipit dolorum! Consequatur, accusamus.   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dicta quas ipsum cupiditate maiores veniam. Omnis facilis itaque error placeat, temporibus aliquid iusto illo, esse, asperiores natus, architecto excepturi saepe. ipsum dolor sit amet, consectetur adipisicing elit. Nulla ipsum dolores facere inventore quo modi vitae. In, blanditiis aut assumenda illo a culpa reiciendis! Eveniet, pariatur laudantium cupiditate soluta culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugiat eum libero magni illum quia ullam rem deleniti quos quam quasi eius in ducimus vero laborum, pariatur, odio neque modi.assumenda illo a culpa reiciendis! Eveniet, pariatur laudantium cupiditate soluta culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugiat eum libero magni illum quia ullam rem deleniti quos quam quasi eius in ducimus vero laborum, pariatur, odio neque modi.
							
							p assumenda illo a culpa reiciendis! Eveniet, pariatur laudantium cupiditate soluta culpa.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugiat eum libero magni illum quia ullam rem deleniti quos quam quasi eius in ducimus vero laborum, pariatur, odio neque modi.
						div.card-action
							a(href="blog.html") Volver
						div.card
							div.fb-comments(data-href="https://developers.facebook.com/jvegapineda" data-width="100%" data-numposts="5")
	include _footer

