<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fernando Vega</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="vendor/normalize.css" rel="stylesheet"/>
    <link href="vendor/materialize/css/materialize.css" rel="stylesheet"/>
    <link href="vendor/font-awesome/font-awesome.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="vendor/jquery.min.js"></script>
  </head>
  <body>
    <div class="btn-lateral-menu"><a href="#" data-activates="slide-out" class="button-collapse"><span class="fa fa-navicon"></span></a></div>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView"><img src="images/pattern.png" class="background"/><a href="index.html"><img src="images/perfil.png" class="circle"/></a><a href="#nombre"><span class="white-text name">Fernando Vega</span></a><a href="#email"><span class="white-text email">fernando.vega@siasoftware.com</span></a></div>
      </li>
      <li><a href="index.html" class="fa fa-laptop"> <span>Perfil</span></a></li>
      <li><a href="blog.html" class="fa fa-pencil-square-o"> <span>Blog</span></a></li>
    </ul>
    <script src="vendor/materialize/js/materialize.min.js"></script>
    <script src="vendor/scrollflow/eskju.jquery.scrollflow.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>