
<footer class="row middle-xs between-xs center-xs">
  <div class="col-xs-12 col-sm-4 mascota"><img src="images/mascota.png"/>
    <h4>Cuando los demás duermen, yo me divierto programando. </h4>
  </div>
  <div class="col-xs-12 col-sm-4 logo-sia row center-xs around-xs">
    <div class="col-xs-12"><img src="images/logo-sia.png"/></div>
  </div>
  <div class="col-xs-12 col-sm-4 frase">
    <h3>Creo que este es el mejor consejo: piensa constantemente cómo podrías hacer mejor las cosas.<span>"Elon Musk"</span></h3>
  </div>
  <div class="col-xs-12 row center-xs around-xs">
    <section style="background: transparent;" class="redes_sociales"><a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a><a href="#" class="facebook"><span class="fa fa-facebook"></span></a><a href="#" class="twitter"><span class="fa fa-twitter"></span></a><a href="#" class="google"><span class="fa fa-google-plus"></span></a><a href="#" class="whatsapp"><span class="fa fa-whatsapp"></span></a><a href="#" class="youtube"><span class="fa fa-youtube"></span></a></section>
  </div>
  <div class="col-xs-12 end-footer"><a target="_blank" href="http://siasoftware.com/">
      <h5>© 2016 Sia-Software</h5></a></div>
</footer>