<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fernando Vega</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="vendor/normalize.css" rel="stylesheet"/>
    <link href="vendor/materialize/css/materialize.css" rel="stylesheet"/>
    <link href="vendor/font-awesome/font-awesome.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="vendor/jquery.min.js"></script>
  </head>
  <body>
    <div class="btn-lateral-menu"><a href="#" data-activates="slide-out" class="button-collapse"><span class="fa fa-navicon"></span></a></div>
    <section class="blog"><img src="images/parallax.png" class="img-parallax"/>
      <div style="padding: 0 30px; box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.68);" class="row top-xs col-xs-12">
        <div class="title col-xs-12 row center-xs middle-xs">
          <h2>BLOG</h2>
        </div>
        <div class="content-blog row top-xs col-xs-12 col-sm-9">
          <div class="col-xs-12 center-xs"><img src="images/shadow.png" class="shadow"/></div>
          <div class="col-xs-12 col-sm-6">
            <div class="card small">
              <div class="card-image"><img src="images/parallax.png"/><span data-scrollflow-start="0" data-scrollflow-distance="20" class="scrollflow -slide-right -opacity card-title">DESARRLO WEB FORNT-END</span></div>
              <div class="card-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem saepe molestiae repudiandae, debitis omnis sint laudantium mollitia exercitationem nihil obcaecati esse neque assumenda numquam odit, suscipit dolorum! Consequatur, accusamus. lorem</p>
              </div>
              <div class="card-action"><a href="blog-single.html">Leer más</a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card small">
              <div class="card-image"><img src="images/parallax.png"/><span data-scrollflow-start="0" data-scrollflow-distance="20" class="scrollflow -slide-right -opacity card-title">TUTORIAL- INSTALAON RUBY ON RAILS</span></div>
              <div class="card-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem saepe molestiae repudiandae, debitis omnis sint laudantium mollitia exercitationem nihil obcaecati esse neque assumenda numquam odit, suscipit dolorum! Consequatur, accusamus. lorem</p>
              </div>
              <div class="card-action"><a href="#">Leer más</a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card small">
              <div class="card-image"><img src="images/parallax.png"/><span data-scrollflow-start="0" data-scrollflow-distance="20" class="scrollflow -slide-right -opacity card-title">QUE ES JADE?</span></div>
              <div class="card-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem saepe molestiae repudiandae, debitis omnis sint laudantium mollitia exercitationem nihil obcaecati esse neque assumenda numquam odit, suscipit dolorum! Consequatur, accusamus. lorem</p>
              </div>
              <div class="card-action"><a href="#">Leer más</a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card small">
              <div class="card-image"><img src="images/parallax.png"/><span data-scrollflow-start="0" data-scrollflow-distance="20" class="scrollflow -slide-right -opacity card-title">SYLUS, LESS, SASS</span></div>
              <div class="card-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem saepe molestiae repudiandae, debitis omnis sint laudantium mollitia exercitationem nihil obcaecati esse neque assumenda numquam odit, suscipit dolorum! Consequatur, accusamus. lorem</p>
              </div>
              <div class="card-action"><a href="#">Leer más</a></div>
            </div>
          </div>
          <div style="padding: 20px 0" class="col-xs-12 center-xs">
            <ul class="pagination">
              <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
              <li class="waves-effect"><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li class="waves-effect"><a href="#">3</a></li>
              <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="title-post-category z-depth-2">
            <h4>CATEGORIAS</h4>
          </div>
          <div class="content-post-category z-depth-1"><a href="#">FRONT-END</a><a href="#">PHP</a><a href="#">LARAVEL</a><a href="#">HTML</a><a href="#">CSS</a><a href="#">RUBY</a><a href="#">RAILS</a></div>
        </div>
      </div>
    </section>
    <footer class="row middle-xs between-xs center-xs">
      <div class="col-xs-12 col-sm-4 mascota"><img src="images/mascota.png"/>
        <h4>Cuando los demás duermen, yo me divierto programando. </h4>
      </div>
      <div class="col-xs-12 col-sm-4 logo-sia row center-xs around-xs">
        <div class="col-xs-12"><img src="images/logo-sia.png"/></div>
      </div>
      <div class="col-xs-12 col-sm-4 frase">
        <h3>Creo que este es el mejor consejo: piensa constantemente cómo podrías hacer mejor las cosas.<span>"Elon Musk"</span></h3>
      </div>
      <div class="col-xs-12 row center-xs around-xs">
        <section style="background: transparent;" class="redes_sociales"><a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a><a href="#" class="facebook"><span class="fa fa-facebook"></span></a><a href="#" class="twitter"><span class="fa fa-twitter"></span></a><a href="#" class="google"><span class="fa fa-google-plus"></span></a><a href="#" class="whatsapp"><span class="fa fa-whatsapp"></span></a><a href="#" class="youtube"><span class="fa fa-youtube"></span></a></section>
      </div>
      <div class="col-xs-12 end-footer"><a target="_blank" href="http://siasoftware.com/">
          <h5>© 2016 Sia-Software</h5></a></div>
    </footer>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView"><img src="images/pattern.png" class="background"/><a href="index.html"><img src="images/perfil.png" class="circle"/></a><a href="#nombre"><span class="white-text name">Fernando Vega</span></a><a href="#email"><span class="white-text email">fernando.vega@siasoftware.com</span></a></div>
      </li>
      <li><a href="index.html" class="fa fa-laptop"> <span>Perfil</span></a></li>
      <li><a href="blog.html" class="fa fa-pencil-square-o"> <span>Blog</span></a></li>
    </ul>
    <script src="vendor/materialize/js/materialize.min.js"></script>
    <script src="vendor/scrollflow/eskju.jquery.scrollflow.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>